# Towards Big Data - Auswertung goßer Datenmengen
Schauen wir uns nun ein Beispiel mit einer etwas größeren Datenmenge an. Zunächst lesen wir die Daten aus einer vorgegebenen csv-Datei ein, und verschaffen uns einen ersten Überblick:

In [1]:
import  pandas as pd
df = pd.read_csv('terra1.csv', )
df

,Ort,Land,Einwohner,Laenge,Breite
0,Kabul,Afghanistan,1400000,69.000,34.000
1,Kandahar,Afghanistan,323900,65.000,31.000
2,Masar-e Scharif,Afghanistan,250000,67.000,36.000
3,Abnub,Ägypten,70791,31.150,27.270
4,Abo el Matamer,Ägypten,47432,30.180,30.920
...,...,...,...,...,...
26846,Berberati,Zentralafrikanische Republik,66668,15.780,4.250
26847,Bimbo,Zentralafrikanische Republik,164208,18.540,4.300
26848,Kaga-Bandoro,Zentralafrikanische Republik,58353,19.180,6.980
26849,Mbaiki,Zentralafrikanische Republik,75809,18.000,3.870
26850,Nicosia,Zypern,228000,33.374,35.168

OK, das ist noch nicht wirklich "Big-Data", aber immerhin eine Tabelle mit 26.851 Orten und damit zuviel, um sich alle Datenpunkte einzeln anzuschauen. Um einen Überblick über die Daten zu bekommen, benötigen wir also ein Werkzeug zur Aggregation und Auswertung. Wie wir bereits gesehen haben, stellt uns die Python-Bilbliothek Pandas solche Werzeuge zur Verfügung, so dass wir nicht alles "from Scratch" per Hand schreiben müssen.

Die Daten stammen übrigens aus aus dem [Kapitel über Datenbanken](https://www.inf-schule.de/@/page/HU3DE5C572jZ8Kei) (dort die "terra1"-Datenbank). Beachte, dass die Daten rein zu Ausbildungszwecken dienen und keinen Anspruch auf Vollständigkeit oder Korrektheit erfüllen.


Die Konvertierung des Datenbankformates in einen DataFrame ist übrigens relativ einfach, da der Konstruktor von DataFrame einen Datenbank-Cursor akzeptiert. Falls du das nachvolliehen möchtest, dann recherchiere im Internet einfach mal nach "Konvertierung mysql in DataFrame". Datenbank-Expert:innen unter euch können sich so weitere "Big-Data"-Datensätze herstellen zum Experimentieren mit der Bibliothek Pandas.

### Aufgabe 1
Verschaffe dir einen ersten Überblick über die Daten in dem DataFrame df. Beantworte dazu insbesondere die folgenden Fragen und dokumentiere den Python-Code, den du dazu verwendest:
- Wie viele Einwohner:innen gibt es insgesamt?
- Wie viele Einwohner gibt es im Mittel pro Ort?
- Wie viele Einwohner:innen hat der kleinste Ort? Wie viele der größte Ort?

Natürlich darfst du auch noch weitere Analysen machen. Dokumentiere sie einfach ebenfalls direkt hier im Notebook.

In [ ]:
# Lösung Aufgabe 1

### Aufgabe 2
Jetzt wird es schon etwas komplizierter. Nach der ersten Analyse interessieren uns nur natürlich detaillierte Fragen:
- Wie viele Einwohner:innen hat Berlin?
- Welche Orte haben genau 33 Einwohner:innen?
- Wie viele Megastädte mit mindestens 10 Mio. Einwohner gibt es? Welche sind es?
- Wie heisst der kleinste Ort? Wie der größte?

Tipp: Verwende die Funktion **pandas.DataFrame.loc**. Dokumentiere wieder den Python-Code, den du zur Beantwortung dieser Fragen verwendest.

In [ ]:
# Lösung Aufgabe 2

### Aufgabe 3
Welche Länder haben mindestens 4711 und höchstens 4715 Einwohner?

Tipp: Verwende die Funktion **pandas.DataFrame.loc** und den elementweise logischen UND-Operator **&**

In [ ]:
# Lösung Aufgabe 3

### Aufgabe 4 
Welches ist der einwohnermäßig "mittelmäßigste" Ort? Das heisst, die Einwohnerzahl welchen Ortes liegt am nächsten an der mittleren Einwohnerzahl aller Orte?

Tipp: Hier kommst du wahrscheinlich nicht alleine mit einem einzigen eleganten Pandas-Befehl weiter, sondern musst etwas Pythoncode schreiben. Erweitere dazu schrittweise deine Lösung aus Aufgabe 3.

In [ ]:
# Lösung Aufgabe 4

---
# Städte nach Ländern sortiert
Um den Datensatz nach Ländern sortiert auszuwerten, erstellen wir zunächst ein neues DataFrame mit Attribut "Land" als Index:

In [ ]:
df_land = df.set_index('Land')
df_land

### Aufgabe 5

Beantworte die folgenden Fragen, indem du das neue DataFrame df_land verwendest:
- Wieviele Einwohner haben alle deutschen Städte insgesamt?
- Wie viele haben sie im Mittel?

In [ ]:
# Lösung Aufgabe 5

### Aufgabe 6
- Wie viele Einwohner gibt es in pro Land insgesamt? Ausgabe aufsteigend sortiert.
- Wie viele Einwohner gibt es in pro Land im Mittel? Ausgabe aufsteigend sortiert.
- Was fällt dir bei Südkorea auf?

Tipp: Verwende die Funktion **pandas.DataFrame.groupby**

In [ ]:
# Lösung Aufgabe 6

### Aufgabe 7
- Wo liegt die "Mitte Deutschlands"? Gemeint ist hiermit die geographische Mitte, also die Mittelwerte der geographischen Koordinate aller Orte.
- Welche Orte liegen in einem Quadtrat der Kantenlänge 0,1°, dass als MIttelpunkt die "Mitte Deutschlands" hat?

In [ ]:
# Lösung Aufgabe 7